div {
  height: 100%;
  width: 33.3%;
  float: left;
}

.zero {
  background-color: #000000;
}

.one {
  background-color: #111111;
}

.two {
  background-color: #222222;
}
.three {
  background-color: #333333;
}

.four {
  background-color: #444444;
}

.five {
  background-color: #555555;
}

.six {
  background-color: #666666;
}

.seven {
  background-color: #777777;
}

.eight {
  background-color: #888888;
}

.nine {
  background-color: #999999;
}

.ten {
  background-color: #aaaaaa;
}

